@model IEnumerable<VehicleRoutingProblem.Models.UserRoleViewModel.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolesName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "SummeryDetails", "Users", new { id = item.UserId, returnUrl = "~/UserRoles/Index" }, null)
                
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.RolesName)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { UserId = item.UserId ,RoleId=item.RoleId})
            </td>
            <td>
                @Html.ActionLink("Add New Role", "Create", new { Id = item.UserId})
            </td>
        </tr>
}
    </tbody>
</table>
