@model IEnumerable<VehicleRoutingProblem.Models.UserRoleViewModel.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @if ((bool)ViewData["ShowCreat"])
    {
        <a asp-action="Create">Create New</a>
    }
    else
    {
        @Html.ActionLink("Add New Role", "Create", new { Id = (string)ViewData["ID"] })
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
               عکس پرسنلی
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolesName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img width="50" height="50"
                     src="@Url.Action("GetImage", "Users", new {FileID=@item.UserId})" />
            </td>
            <td>
                @Html.ActionLink(item.FullName, "SummeryDetails", "Users", new { id = item.UserId, returnUrl = "~/UserRoles/Index" }, null)
                
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.RolesName)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { UserId = item.UserId ,RoleId=item.RoleId})
            </td>
            @if ((bool)ViewData["ShowCreat"])
            {
                <td>
                    @Html.ActionLink("Add New Role", "Create", new { Id = item.UserId })
                </td>
            }
            
        </tr>
}
    </tbody>
</table>
