@model IEnumerable<VehicleRoutingProblem.Models.CompanyEmployeViewModels.IndexViewModel>

    @{
        ViewData["Title"] = "Employes";
    }


    <h2>Employes List</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FristName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lstRoles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FristName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalCode)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @foreach (var items in item.lstRoles.AsEnumerable())
                    {
                      @Html.DisplayFor(modelItem => items)
                      <div> </div>
                    }
                </td>
                <td>
                    <a asp-area ="UserRoles" asp-action="Edit" asp-route-id="@item.Id">Edit Role</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete Employe</a>
                </td>
            </tr>
        }
    </tbody>
</table>

