@model IEnumerable<VehicleRoutingProblem.Models.CompanyEmployeViewModels.IndexViewModel>

    @{
        ViewData["Title"] = "Employes";
    }


    <h2>Employes List</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FristName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalCode)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.lstRoles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="50" height="50"
                         src="@Url.Action("GetImage", "Users", new {FileID=@item.Id})" />
                    @*@Html.DisplayFor(modelItem => item.Icon)*@
                </td>>
                <td>
                    @Html.ActionLink(item.LastName , "SummeryDetails", "Users", new { id = item.Id , returnUrl = "~/CompanyEmployes/Index" }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FristName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalCode)
                </td>
                <td>
                    @foreach (var items in item.lstRoles.AsEnumerable())
                    {
                      @Html.DisplayFor(modelItem => items)
                      <div> </div>
                    }
                </td>
                <td>
                    <a asp-Controller ="UserRoles" asp-action="Index" asp-route-id="@item.Id">Edit Role</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete Employe</a>
                </td>
            </tr>
        }
    </tbody>
</table>

